h1 { margin: 2% 0 0 5%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 100%;
}

body { 
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    
}

h2 { margin: 5% 0 10% 5%;
   font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 50%; 
    line-height: 5vh;
}

#image1 {
    margin: 10% 0 10% 15%;
    opacity: 0.5;
}


#image1:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image2 {
    margin: 10% 0 10% 50%;
    opacity: 0.5;
}


#image2:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image3 {
    margin: 10% 0 10% 15%;
    opacity: 0.5;
}


#image3:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image4 {
    margin: 10% 0 10% 50%;
    opacity: 0.5;
}


#image4:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image5 {
    margin: 10% 0 10% 15%;
    opacity: 0.5;
}


#image5:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image6 {
    margin: 10% 0 10% 50%;
    opacity: 0.5;
}


#image6:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image7 {
    margin: 10% 0 10% 15%;
    opacity: 0.5;
}


#image7:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image8 {
    margin: 10% 0 10% 50%;
    opacity: 0.5;
}


#image8:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}

#image9 {
    margin: 10% 0 10% 15%;
    opacity: 0.5;
}


#image9:hover {
    opacity: 1;
    transform: scale (1.1);
    transition:0.5s;
}



#p1 {
    margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    
    }

#p2 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p3 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p4 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p5 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p6 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p7 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p8 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 5%;
    }

#p9 {margin: 0 0 0 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 30%;
    margin-bottom: 10%;
    }

.dotted {border: 1px dotted darksalmon; 
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff; }

#p10 {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 55%;
    margin-bottom: 5%;
    line-height: 5vh;
    }

#p11 {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2vw;
    width: 55%;
    margin-bottom: 5%;
    line-height: 5vh;
    }

#align {
    margin: 0 0 5% 25%:
}

#quoteDisplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-bottom: 10%;
     font-family: 'Reenie Beanie', cursive;
    color: darksalmon;
    text-align: center;
    font-size: 2.5vw;
        height: 100px;
    width: 30%;

}


#gen { display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-family: 'Reenie Beanie', cursive;
     font-size: 1.5vw;
    cursor:grab;
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 0.5;
  background-color: darksalmon;
  color: white;
  border: thin dotted darksalmon;
  height: 40px;
  width: 150px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
    align-content: center;
    text-decoration: none;
}

#gen:hover { text-decoration: none;
  background-color: white;
  color: darksalmon;
  border: thin dotted darksalmon;
  opacity: 0.8;
}

#gen a {
  text-decoration: none;
}

#button {display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 5%;
    font-family: 'Reenie Beanie', cursive;
     font-size: 1.5vw;
    cursor:grab;
  outline: none;
  padding-top: 5px;
  opacity: 0.5;
  background-color: darksalmon;
  color: white;
  border: thin dotted darksalmon;
  height: 20px;
  width: 150px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
    text-align: center;
  
}

#button:hover {
    text-decoration: none;
  background-color: white;
  color: darksalmon;
  border: thin dotted darksalmon;
  opacity: 0.8;
}

#button a {
  text-decoration: none;
    color: white;
}


#squiggles img{
    position: fixed;
    width: 100vw;
    top: 0;
    pointer-events: none;
}
body, html {
    height: 70%;
}

.parallax {
    /* The image used */

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1000px) {
  
   
#squiggles img{
    position: fixed;
    height: 100vh;
    top: 0;
    pointer-events: none;
}
    
    h1 { margin: 2% 0 0 5%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 10vw;
    width: 100%;
}

body { 
    margin: 0;
    overflow-x: hidden;
    text-decoration: none;
    
}

h2 { margin: 10% 0 10% 5%;
   font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 100%; 
    line-height: 2vh;
}
    
    #p1 {
    margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    
    }

#p2 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p3 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p4 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p5 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p6 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p7 {margin: 0 0 5% 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p8 {margin-left: 7%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 5%;
    }

#p9 {margin: 0 0 0 50%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5vw;
    width: 50%;
    margin-bottom: 10%;
    }

.dotted {border: 1px dotted darksalmon; 
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff; }

#p10 {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 6vw;
    width: 70%;
    margin-bottom: 5%;
    line-height: 4vh;
    }

#p11 {display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: 'Reenie Beanie', cursive;
    font-size: 6vw;
    width: 70%;
    margin-bottom: 5%;
    line-height: 4vh;
    }
    
    #gen { display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    font-family: 'Reenie Beanie', cursive;
     font-size: 5vw;
    cursor:grab;
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  opacity: 1;
  background-color: darksalmon;
  color: white;
  border: thin dotted darksalmon;
  height: 70px;
  width: 300px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
    align-content: center;
    text-decoration: none;
}

    #button {display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 5%;
    font-family: 'Reenie Beanie', cursive;
     font-size: 5vw;
    cursor:grab;
  outline: none;
  padding-top: 5px;
  opacity: 1;
  background-color: darksalmon;
  color: white;
  border: thin dotted darksalmon;
  height: 60px;
  width: 300px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
    text-align: center;
  
}
    #quoteDisplay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-bottom: 40%;
     font-family: 'Reenie Beanie', cursive;
    color: darksalmon;
    text-align: center;
    font-size: 5vw;
        height: 100px;
    width: 30%;

}